<h1>Registre-se</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
      @if (signupForm.get("name")?.hasError("required")) {
        <mat-error>Nome é um campo obrigatório</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Usuário</mat-label>
      <input matInput formControlName="login" />
      @if (signupForm.get("login")?.hasError("required")) {
        <mat-error>Usuário é um campo obrigatório</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" />
      @if (signupForm.get("password")?.hasError("required")) {
        <mat-error>Senha é um campo obrigatório</mat-error>
      }
      @if (signupForm.get("password")?.hasError("minlength")) {
        <mat-error>Senha precisa ter no mínimo 5 caracteres</mat-error>
      }
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-button extended routerLink="/auth/login">Entrar</button>
    <button mat-fab extended [disabled]="signupForm.invalid">
      Cadastre-se
    </button>
  </mat-card-actions>
</form>
