@use "sass:map";
@use "../../styles/theme-colors" as colors;
@use "@angular/material" as mat;

:host {
  width: 100%;
}

#comments {
  h1 {
    text-align: start;
    font-size: 1.6em;
    margin-bottom: 0.5em;
  }

  mat-divider {
    margin: 1em 0;
  }

  mat-spinner {
    margin: 0 auto;
  }

  .comment {
    font-size: 1em;
  }

  .author {
    font-size: 0.9em;
    font-weight: bold;
    color: map-get(colors.$primary-palette, 50);

    span {
      font-size: 0.8em;
      font-weight: 400;
      color: map-get(colors.$primary-palette, neutral, 60);
    }
  }

  #comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mat.icon-button-overrides(
      (
        icon-color: map-get(colors.$primary-palette, error, 50),
      )
    );
  }
}
