<section id="comments">
  @if (numberOfComments() !== 0) {
    <h1>
      {{ numberOfComments() }}
      {{ numberOfComments() > 1 ? "Comentários" : "Comentário" }}
    </h1>
  }
  @if (!isLoading() || comments().length !== 0) {
    <mat-list role="list">
      @for (comment of comments(); track comment.id; let last = $last) {
        <mat-list-item role="listitem">
          <div id="comment-container">
            <div>
              <p class="author">
                {{ comment.username }}
                <span>
                  {{ comment.date | date: "MMM d, y, h:mm a" }}
                </span>
              </p>
              <p class="comment">{{ comment.comment }}</p>
            </div>
          </div>
        </mat-list-item>
        @if (!last) {
          <mat-divider />
        }
      }
      @if (isLoading() && comments().length !== 0) {
        <mat-spinner diameter="20" />
      }
    </mat-list>
  } @else {
    <mat-spinner diameter="50" />
  }
</section>
