@use "sass:map";
@use "../../styles/theme-colors" as colors;

:root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
}

#row {
  cursor: pointer;
}

#row:hover {
  background-color: map.get(colors.$primary-palette, neutral, 35);
  transition: all 0.5s ease-in-out;
}
