<div id="table-container">
    @if (isLoading()) {
    <mat-progress-spinner mode="indeterminate" />
    } @else {
    <table mat-table [dataSource]="data()" matSort (matSortChange)="onSortChange.emit($event)" matSortActive="timestamp"
        matSortDisableClear matSortDirection="desc">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let report"> {{ report.id }} </td>
        </ng-container>
        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Resumo </th>
            <td mat-cell *matCellDef="let report"> {{ report.summary }} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
            <td mat-cell *matCellDef="let report"> {{ report.description }} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
            <td mat-cell *matCellDef="let report"> {{ report.timestamp | date:'dd/MM hh:mm' }} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
            <td mat-cell *matCellDef="let report"> {{ report.address }} </td>
        </ng-container>
        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
            <td mat-cell *matCellDef="let report"> {{ report.latitude }} </td>
        </ng-container>
        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
            <td mat-cell *matCellDef="let report"> {{ report.longitude }} </td>
        </ng-container>
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Relator </th>
            <td mat-cell *matCellDef="let report"> {{ report.userId }} </td>
        </ng-container>
        <ng-container matColumnDef="reportTypeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let report"> {{ report.reportTypeId }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row (click)="onClick(row)" *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [length]="data().length" [pageSize]="10" (page)="onPage($event)"></mat-paginator>
    }
</div>